
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css');

@import "tailwindcss";

/* 在这里直接导入 Typography 插件 */
@plugin "@tailwindcss/typography";

/* v4 的主题自定义方式（如果需要） */
@theme {
    --font-heading: "Black Italic", sans-serif;
}

/* 针对你之前的黑框风格做微调 */
@layer components {
    .prose {
        --tw-prose-headings: #000;
        --tw-prose-links: #2563eb;
    }
}