<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Duo 云站</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

    :root {
        /* Material Design 风格美学色系 */
        --main-bg: #FEFFF0;

        --blue: #BAE6FF;
        --blue-m: #415f91;
        --blue-sky: #d6e3ff;
        --blue-deep: #0a305f;

        --yellow: #FFDC58;
        --yellow-deep: #6d5e0f;
        --yellow-sun: #f8e287;
        --yellow-light: #eee2bc;

        --red: #FFB4AB;
        --red-deep-grey: #653b44;
        --red-pakoo: #723523;
        --red-deep: #93000A;

        --green: #B2F1B8;
        --green-n: #354e16;
        --green-m-deep: #2c4e38;
        --green-m: #43664e;
        --green-dark: #002108;

        --purple: #EADDFF;
        --purple-light: #fad8fd;
        --purple-m: #523c73;
        --purple-elaina: #834c74;
        --purple-text: #21005D;

        --orange: #FFDDB3;
        --orange-dark: #291800;

        --vanilla: #5c631d;
        --vanilla-m: #e1e994;
        --valley-light: #e4e5c1;
        --valley-dark: #46492e;

        --neutral-80: #49454F;
    }

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg);
	font-family: "Space Grotesk", sans-serif;
	scroll-behavior: smooth;
}


</style>
